body {
  font-family: 'Georgia', serif;
  background: url('https://sdmntprnortheu.oaiusercontent.com/files/00000000-3c8c-61f4-a0d3-35f76b061248/raw?se=2025-05-10T14%3A37%3A29Z&sp=r&sv=2024-08-04&sr=b&scid=00000000-0000-0000-0000-000000000000&skoid=eb780365-537d-4279-a878-cae64e33aa9c&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-05-10T06%3A48%3A47Z&ske=2025-05-11T06%3A48%3A47Z&sks=b&skv=2024-08-04&sig=AdHIOfCmY5jcK/4igUjtFdf3/n2i8AqALHW1zAWEXM8%3D') repeat;
  color: #2f1c0a;
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgba(255, 248, 220, 0.9);
  margin: 30px auto;
  padding: 20px;
  max-width: 900px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

header {
  text-align: center;
  padding-bottom: 10px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #6b4226;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
  color:black
}

img {
  text-align:center;
  width:500px;
  height:500px;
  max-width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

main {
  padding-top: 10px;
}
p{
  font-size:20px;
  font-family:Aligator;
  color:#6b4226;
}
.pp{
  background-color:rgba(255, 248, 220, 0.9);
  border-radius: 15px;
  margin: 50px auto;
  padding: 20px;
  text-decoration:none;
  color:#6b4226;
  float:left;
}
.pp:hover{
  font-size:17px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  color:black;
}
